.content-meta {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--gray);
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
        color: var(--lightgray);
      }
    }
  }
}
